#app {
  // el 样式
  .el-menu {
    border-right none
  }
  // 公共样式
  .border-right {
    border-right 1px solid rgba(0, 0, 0, 0.05)
  }
  .padding-bottom0 {
    padding-bottom 0 !important
  }
  // 内容区域，滚动
  .main-scroll-y {
    background-color #ffffff;
    overflow-y auto !important
    scroll-behavior none !important
    // 140 = 顶部导航60 + 面包屑60 + 20padding
    height calc(100vh - 140px) !important
  }
}

.group-btn{
  margin-bottom: 20px;
}
